<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="task1_1" Language="1033" Version="1.0.0.0" Manufacturer="Domenic M" UpgradeCode="1d5d1a82-1cc2-44bd-a7f4-e865b87c539b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="no" />

		<Feature Id="ProductFeature" Title="WiXEample" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Task1_1" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
      <Component Id="task1_1" Guid="5632131A-2689-438D-8684-C79AE82EEBB3">
        <File Id="task1_1.exe" Name="task1_1.exe" Source="$(var.task1_1.TargetDir)task1_1.exe"></File>
      </Component>
      <Component Id="ClassLibrary1" Guid="CD14E3CC-C404-487A-8FAD-04576C1E5FD1">
        <File Id="ClassLibrary1.dll" Name="ClassLibrary1.dll" Source="$(var.ClassLibrary1.TargetDir)ClassLibrary1.dll"></File>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
